<div></div>
    <h1>Password Recovery</h1>
    <form id="passwordRecoveryForm" action="/api/session/recoveryPassword" method="POST">
        <label>New Password</label>
        <input type="password" name="password" id="password" />
        <button type="submit">Submit</button>
    </form>
</div>